<div class="hero">
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Learn from the best.</h1>
    <h2>Take the first step down a new path.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="booyah-box col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Chose from any number of courses to study with incredible teachers.</p>
  </div>
  <div class="booyah-box col-12 col-sm">
    <h3>Learn at your own pace</h3>
    <br />
    <p>Enroll and access a course's archive of lessons.</p>
  </div>
  <div class="booyah-box col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>